.btnList {
    display: flex;
    justify-content: space-around;
}

.cardContainer {
    background-color: #0A0C0E;
    padding: 0.25rem !important;
}

.btns {
    background-color: #fff;
}
.btns:hover {
    border-color: #fff;
}
